table{
    text-align: center;
    color: #49589F;
    font-family: Sans, serif;
    font-size: 20px;
    border-spacing: 0;
    border: 1px  solid  #B4C6E5;
    overflow: auto;
    background-color: white;
}
thead{
    background-color: #EFF2FF;
}
th, td{
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #B4C6E5
}
.editedHead{
    background-color: white;
}
tbody tr:hover{
    background-color: #EFF2FF;
}

