* {
    margin: 0;
    padding: 0;
}

nav{
    height: 70px;
    width: 100vw;
    position: fixed;
    z-index: 50;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #B4C6E5;
    background-color: white;
    justify-content: space-between;
    right: 0;
}
main{
    display: flex;
}
content{
    width: 100vw;
    padding: 120px 70px;
    position: sticky;
    left: 0;

}
p{
    margin: 20px;
}
.burger{
    padding-left: 40px;
    cursor: pointer;
}
.logo{
    padding-right: 40px;
}








