.menu__content_dropdown{
    width: 100%;
    height: 100%;
    align-items: center;
    border-right: 2px solid #B4C6E5;
    background-color: #F6F8FF;
}
.li__dropdown{
    font-size: 1rem;
    border-top: 2px solid #B4C6E5;
    border-bottom: white;
}
.a__dropdown{
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
}
.dropdown{
    display: none;
}
.dropdown.active{
    display: block;
    padding-left: 0;
}
