.menu {
    margin-top: 70px;
    width: 30vw;
    height: 100vh;
    display: block;
    position: sticky;
    top: 0px;
    z-index: 5;
}
.menu.active{
    display: none;
}
.menu__content{
    height: 100%;
    display: flex;
    border-right: 2px solid #B4C6E5;
    background-color: #F6F8FF;
}
ul li a {
    color: #5F86C4;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
li {
    color: #5F86C4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Sans;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 30px 40px;
    border-bottom: 2px solid #B4C6E5;
    background-color: white;
}
li i{
    font-weight: bold;
}
li:hover{
    filter: drop-shadow(0px 0px 9px rgba(32, 40, 77, 0.27));
}
li.active{
    background-color: #B4C6E5;
    color: white;
}
ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch
}
@media screen and (max-width: 920px){
    .menu__content{
        width: 100vw;
    }
}