.main__wrapper{
    display: flex;
    justify-content: center;
}
.header{
    color: #20284D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Sans;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 40px 30px 40px;
    background-color: white;
}
.table__container{
    overflow: auto;
    position: relative;
}