.accordion{
    color: #49589F;
    font-family: Sans, serif;
    font-size: 1.5rem;
}
.accordion__item{

    width: 100%;
    border-bottom: 3px solid #C6D7F2;
}
.accordion__heading{
    padding: 20px 40px;
}
.accordion__button{
    display: flex;
    justify-content: space-between;
}
.accordion__button[aria-expanded='true']::after{
    font-size: 1.5rem;
    content: '_';

}
.accordion__button[aria-expanded='false']::after{
    font-size: 1.5rem;
    content: '+';
}
.accordion__panel{
    margin: 0 40px 20px 40px;
    background-color: #d3dcea;
}
p{
    margin: 0;
}