.myBtn{
    margin: 10px;
    padding: 10px 20px;
    color: white;
    font-family: Sans;
    font-size: 20px;
    background-color: #5F86C4;
    border: 1px solid #5F86C4;
    border-radius: 3px;
    cursor: pointer;
}
.myBtn:hover{
    color: #5F86C4;
    background-color: white;
}